<div class="section section-header presentation">
    <div class="parallax filter filter-color-red" style="height:42vh!important;">
        <div class="image"
            style="background-image: url('assets/img/header-1.jpeg')">
        </div>
        <div class="container">
            <div class="content">
                <div class="title-area">
                    <h1 class="title-modern">Search Results</h1>
                    <!--h3>The worlds number one site for campgrounds worldwide</h3-->
                    <!--div class="separator line-separator">✻</div-->
                </div>
                <% include ../../partials/searchform %>
            </div>
        </div>
    </div>
</div>
	
