
<div class="section section-header presentation" style="background-image:url('<%= campground.image %>');background-size:cover">
    <div class="parallax filter-color-red">
        
    </div>
</div>
	
