
<div class="section section-header presentation">
    <div class="parallax filter filter-color-red">
        <div class="image"
            style="background-image: url('assets/img/header-1.jpeg')">
        </div>
        <div class="container">
            <div class="content">
                <div class="title-area">
                    <p>Your adventure starts here</p>
                    <h1 class="title-modern" style="font-size:3.6em">camperbnb</h1>
                    <p>Campground ✻ Location ✻ Adventure</p>
                </div>
                <% include ../../partials/searchform %>
                <% if (!currentUser){ %>
                    <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent btn-fill btn-danger" href="/register">
                      Get Started!
                    </a>
                <%}%>
            </div>
        </div>
    </div>
</div>
	
