<div class="section section-header presentation">
    <div class="parallax filter filter-color-red" style="height:25vh!important;">
        <div class="image"
            style="background-image: url('assets/img/header-1.jpeg')">
        </div>
        <div class="container">
            <div class="content">
                <div class="title-area">
                    <h1 class="title-modern">Your campgrounds</h1>
                </div>
            </div>
        </div>
    </div>
</div>
	
