<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/icon-black-76.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/assets/img/icon-black-76.png">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Yelpcamp</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <link href="/assets/css/bootstrap.css" rel="stylesheet" />
    <link href="/assets/css/gaia.css" rel="stylesheet"/>
    
    <!--     Fonts and icons    /stylesheets/main.css -->
    <link href='https://fonts.googleapis.com/css?family=Cambo|Poppins:400,600' rel='stylesheet' type='text/css'>
    <!--link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet"-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="/assets/css/fonts/pe-icon-7-stroke.css" rel="stylesheet">
</head>

<body>

    <nav class="index navbar navbar-default navbar-fixed-top navbar-burger" color-on-scroll="200">
        <!-- if you want to keep the navbar hidden you can add this class to the navbar "navbar-burger"-->
        <div class="container">
            <div class="navbar-header">
                <button id="menu-toggle" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar bar1"></span>
                    <span class="icon-bar bar2"></span>
                    <span class="icon-bar bar3"></span>
                </button>
                <a href="/" class="navbar-brand" style="max-width:80px;">
                    <img src="/assets/img/icon.png" alt="logo" width="100%" class="icon-white"/>
                    <img src="/assets/img/icon-black.png" alt="logo" height="40px" class="icon-black" style="text-align:center;"/>
                    <span style="text-align:center;padding-top:4px;font-size:15px;width:100%" class="icon-white">Yelpcamp</span>
                </a>
            </div>
            <div class="collapse navbar-collapse">
                 <ul class="nav navbar-nav navbar-left navbar-lowercase">
            <!--i class="fa fa-user-circle-o"></i-->
                <% if (!currentUser){ %>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Sign Up</a></li>
                <% } else { %>
                        <li><a href="/search">Book a Campground</a></li>
                        <li><a href="/campgrounds/new">Add a new campground</a></li>
                        <li><a href="/campgrounds/">My Campgrounds</a></li>
                        <li><a href="/comments/">My Reviews</a></li>
                        <li><a href="/users/<%=currentUser._id%>/edit">Your Profile</a></li>
                        <li><a href="/users/<%=currentUser._id%>/reset_password">Password Change</a></li>
                        <li><a href="/logout">Logout</a></li>
                <% } %>
            </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
    </nav>
    <div style="display:block; height:72px"></div><!--lazy padding-->
