<div style="column col-md-4 col-lg-4 col-sm-12 col">
	<form action="/search" method="POST" class="search-form">
		<div class="form-group search-form">
			<% if (query != "/campgrounds" && query != "/" && query != "/search") { %>
				<input type="text" class="form-control search-input" placeholder="Search by Country" name="search" id="search" onfocusout="this.form.submit()" value="<%=query%>"/>
			<% } else {%>
				<input type="text" class="form-control search-input" placeholder="Search by Country" name="search" id="search" onfocusout="if (this.value){this.form.submit()}"/>
			<% } %>
		</div>
	</form>
</div>

