<div style="width:50%; margin:auto">
	<form action="/search" method="POST" style="">
		<div class="form-group search-form">
			<!--label for="search">Search for a Campground</label-->
			<i class="fa fa-search search-label" aria-hidden="true"></i>
			<input type="text" class="form-control search-input" placeholder="Search by Name" name="search" id="search" onfocusout="this.form.submit()"/>
			<button class="btn btn-primary btn-large button-get-started" type="button" onclick="$('#search').val('');this.form.submit()" style="display:inline-block">Clear</button>
		</div>
		<!--button type="submit" class="btn btn-default">Submit</button document.getElementById('search').value(search) -->
	</form>
</div>