<% include ../partials/header %>

<div class="section">
    <div class="container">
        <div class="row">
            <%include ../partials/sidebars/image1 %>
            <div class="column col-lg-6 col-sm-12 col">
                <h4 style="title-modern">Edit </h4>
                <form action="/campgrounds/<%= comment.campground.id %>/comments/<%= comment._id %>?_method=PUT" method="POST" style="padding-bottom:30px;">
                    <div class="form-group">
                        <textarea class="form-control" name="comment" row="" cols=""><%= comment.text %></textarea>
                        <button class="btn btn-lg btn-block btn-fill btn-danger">Save</button>
                        <a href="/campgrounds/<%= comment.campground.id %>" class="btn btn-lg btn-block btn-primary">Go Back</a>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
</div>

<%include ../partials/footer %>