<% include ../partials/header %>
<% include ../partials/banners/bannercomments %>
	
<div class="section">
    <div class="container">
        <% include ../partials/comments/cards %>
    </div>
</div>

<%include ../partials/footer %>