<% include ./partials/header %>
<div class="row">
    <div class="col col-lg-8" style="clear:both;float:none;margin:auto;text-align:center">
        <h1 class="title-modern">Sorry...the page <%= url %> can't be found!</h1>
        <img src='/assets/img/404.gif' alt='404 not found' width="100%" style="position:relative;bottom: 100px;z-index: -1;"/>
    </div>
</div>
<% include ./partials/footer %>
