<% include ./partials/header %>
<% include ./partials/banners/banner %>
<div class="section">
    <div class="card-container container">
	 <!-- Normal Demo-->
	 	<h2 class="title-modern">Campgrounds</h2>
	 	<% include ./partials/campground/cards %>
	</div>
</div>

<% include ./partials/footer %>
