<%include ./partials/header %>

    <div class="section">
        <div class="container">
            <div class="row">
                <%include ./partials/sidebars/userimage %>
                <div class="column col-lg-6 col-sm-12 col">
                    <h2 class="title-modern">
                        <% if (currentUser.firstname) { %> 
                            Hi <span class="user-name"><%= currentUser.firstname %>.</span> 
                        <% } %>
                        You can make changes to password here
                    </h2>
                    <div class="separator separator-danger">✻</div>
                    <form action="/users/<%= currentUser._id %>/reset_password?_method=PUT" method="POST" style="">
                        <div class="form-group">
                            <label for="search">Username</label>
                            <input type="text" disabled="disabled" class="form-control" placeholder="username" name="username" id="username" value="<%= currentUser.username %>" required>
                            <label for="search">Password</label>
                            <input type="password" class="form-control" placeholder="password" name="password" id="password" value="<%= currentUser.password %>" required>
                            <button class="btn btn-danger btn-fill btn-large button-get-started" style="display:inline-block" value="login">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

<% include ./partials/footer %>