<%include partials/header %>

<div class="container">
    <div class="row">
        <h1 style="text-align:center">New Campground</h1>
        <div style="margin:auto;width:30%;">
            <form action="/campgrounds" method="POST">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="name" name="name"/>
                </div>
                <div class="form-group">
                    <input type="url" class="form-control" name="image" placeholder="img"/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="description" placeholder="description"/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="location" placeholder="location"/>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Add New</button>
                </div>
            </form>
            <a href="/campgrounds">Go Back</a>
        </div>    
    </div>
</div>

<%include partials/footer %>