<% include ../partials/header %>
<% include ../partials/banners/bannercampgrounds %>
	
<div class="section">
    <div class="container">
        <div class="card-container container">
        	 <% include ../partials/campground/cards%>
    	</div>
    	<!--<a class ="btn btn-danger btn-fill btn-large button-get-started" href="/campgrounds/new">-->
    	<!--    Add a new Campground-->
    	<!-- </a>-->
        <a class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored btn-danger btn-fill pull-right" href="/campgrounds/new">
             <i class="material-icons">add</i>
        </a>
	</div>
</div>

<% include ../partials/footer %>
