<% include ../partials/header %>
<%include ../partials/banners/bannersearch %>

<div class="section">
	<div class="container">
	    <div class="row" style="display:flex; flex-wrap:wrap">
	        <div class="col-lg-12">
				<% include ../partials/campground/cards %>
	        </div>
		</div>
	</div>
</div>

<% include ../partials/footer %>