<% include ../partials/header %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to camperbnb</h1>
            <p> View our handpicked camp grounds</p>
            <!--p>
                <a class="btn btn-primary btn-large" href="/campgrounds/new">add new</a>
            </p-->
        </div>
    </header>
    
    <div class="row">
        <div class="col-lg-12" style="width:80%; margin:auto">
            <% include ../partials/searchform %>
        </div>
    </div>

    <div class="row" style="display:flex; flex-wrap:wrap">
        <div class="col-lg-12">
                <% campgrounds.forEach(function(campground){ %>
                <div class="col-md-6 col-sm-6 col-lg-4">
                    <div class="thumbnail">
                        <a href="/campgrounds/<%= campground.id %>">
                            <img src="<%= campground.image %>" alt="<%= campground.name %>"/>
                            <div class="caption">
                                <h4><%= campground.name %></h4>
                            </div>
                        </a>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>

</div>

<% include ../partials/footer %>
