<div class="col-lg-6 sidebar hidden-md hidden-sm hidden-xs" style="height:500px; background-image:url('https://images.unsplash.com/photo-1444012104069-996724bf4a0a?dpr=1&auto=format&fit=crop&w=800&h=800&q=80&cs=tinysrgb&crop=&bg='); background-size:contain">
</div>