<div class="hidden-md hidden-sm hidden-xs col-lg-5 sidebar" style="height:600px;background-image:url('https://images.unsplash.com/photo-1461927757657-7999c8759822?dpr=1&auto=format&fit=crop&w=800&h=1000&q=80&cs=tinysrgb&crop=&bg='); background-size:contain">
     
    <!--<ul class="nav nav-sidebar"> <img src="assets/img/header-1.jpeg" alt="" style="width:100%"/> -->
    <!--<li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>-->
    <!--<li><a href="#">Reports</a></li>-->
    <!--<li><a href="#">Analytics</a></li>-->
    <!--<li><a href="#">Export</a></li>-->
    <!--</ul>-->
    <!--<ul class="nav nav-sidebar">-->
    <!--<li><a href="">Nav item</a></li>-->
    <!--<li><a href="">Nav item again</a></li>-->
    <!--<li><a href="">One more nav</a></li>-->
    <!--<li><a href="">Another nav item</a></li>-->
    <!--<li><a href="">More navigation</a></li>-->
    <!--</ul>-->
    <!--<ul class="nav nav-sidebar">-->
    <!--<li><a href="">Nav item again</a></li>-->
    <!--<li><a href="">One more nav</a></li>-->
    <!--<li><a href="">Another nav item</a></li>-->
    <!--</ul>-->
</div>