<div class="hidden-md hidden-sm hidden-xs col-lg-5 sidebar" style="height:600px;background-image:url('https://images.unsplash.com/photo-1461927757657-7999c8759822?dpr=1&auto=format&fit=crop&w=800&h=1000&q=80&cs=tinysrgb&crop=&bg='); background-size:contain">

</div>